/* This is the stylesheet for PizzaML */

div {
    background-color: #FFFFCC;
}
h1 {
    color: blue;
} 
p {
    color: blue;
    font-size: 10px;
    text-align: center;
    border: 0;
}
#static_top {
    height: 100px;
    width: 95%;
} 
#index {
    height: 600px;
    width: 95%;
    background-color: white;
    border: 1px solid #FFFFCC;
}
#container_left {
    float: left;
    height: 590px;
    width: 30%;
    padding: 5px;
    background-color: #FFCC33;
}
#container_right {
    float: right;
    height: 590px;
    width: 55%;
    padding: 5px;
    background-color: #FFCC33;
}
#static_bottom {
    height: 20px;
    width: 95%;
    bottom: 0px;
    border: 0;
} 
#contact, p {
    height: 10px;
    padding: 5px;
    margin: 0px;
} 
#sprice, #lprice {
    float: right;
}
